.Todo{
    width: auto;
    height: 22px;
    display: flex;
    margin-bottom: 23px;
}
.Todo__button{  
    width: 24px;
    left: 415px;
    top: 272px;
    height: 24px;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid rgba(130, 130, 130, 1);
    background-color: white;

}

.Todo__button--active{  
    width: 24px;
    left: 415px;
    top: 272px;
    height: 24px;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid rgba(130, 130, 130, 1);
    background-color:  rgba(47, 128, 237, 1);

}

.Todo__p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.Todo__p--active {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: line-through;
}