*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.delete{
    margin-left: 70%;
    width: 124px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    background-color: rgba(235, 87, 87, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;


}